<!DOCTYPE html>
<html lang="en">
<head>
	<title>TextTrade</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="styles.css">
	<script src="script.js" async></script>
</head>
<body>
<div class="background">
	<div class="main-panel">
		<div class="block-design"></div>

		<img class="logo" src="./img/logo.png">

		<nav>
			<a href="home.component.html">HOME</a>
			<a href="purchase.php">SHOP</a>
			<a href="about_us.component.html">ABOUT US</a>
			<a href="sign_up.component.html">SIGN UP</a>
		</nav>

		<div class="signup-page">
			<h4>Sign up today to enjoy great benefits from Textrade and start saving on textbooks!</h4>
			<form action="createNewAccount.php" method="post" onsubmit="return ccNumber()">
				<h3>Personal Information</h3>
                <p>Name:</p><input type="text" name="name" id="name" size="50"></input>
				<p>Email Address:</p><input type="text" name="email" id="email" size="50"></input>
				<p>
				<p>Username:</p><input type="text" name="username" id="username" size="50"></input>
				<p>
				<p>Password:</p><input type="text" name="password" id="password" size="50"></input>
				<p>
				<p>Confirm Password:</p><input type="text" name="password2" id="password2" size="50"></input>
				<p>
				<p>Address:</p><input type="text" name="address" id="address" size="50"></input>
				<p>
				<p>City:</p><input type="text" name="city" id="city" size="50"></input>
				<p>
				<p>State: (as initials, ex. VA)</p><input type="text" name="state" id="state" size="50"></input>
				<p>
				<h3>Banking Information</h3>
                <p>Credit Card Number:</p><input type="creditcard" name="ccNumber" id="ccNumber" size="50" onChange="return ccNumber()">
				<p>
				<p>Credit Card Type:</p>
				<input type="radio" name="vote" value="Visa">Visa</input>
				<input type="radio" name="vote" value="Discover">Discover</input>
				<input type="radio" name="vote" value="American Express">American Express</input>
				<input type="radio" name="vote" value="MasterCard">MasterCard</input>
				<p>
				<p>Expiration Date:</p><input type="text" name="exp" id="exp" size="50"></input>
				<p>
				<p>Security Code:</p><input type="text" name="security" id="name" size="50"></input>
				<input type="Submit" value="Submit" size="50" onClick="return isEmpty()" style="display: block">
			</form>
		</div>

		<div class="block-design"></div>
	</div>
</div>
</body>

