<!--Received assistance from
http://www.w3schools.com/howto/howto_js_dropdown.asp-->
<!DOCTYPE html>
<html>
	<head>
		<script src="script.js" async></script><link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
		<div class="signup-page">
			<h4>Sign up today to enjoy great benefits from Textrade and start saving on textbooks!</h4>
			<form method="post" action="createNewAccount.php">
				<p>Name:</p><input type="text" id="name" size="50"></input>
				<p>Email Address:</p><input type="text" id="name" size="50"></input>
				<p>Username:</p><input type="text" id="name" size="50"></input>
				<p>Password:</p><input type="text" id="name" size="50"></input>
				<p>Confirm Password:</p><input type="text" id="name" size="50"></input>
				<p>Address:</p><input type="text" id="address" size="50"></input>
				<p>City:</p><input type="text" id="city" size="50"></input>
				<p>State:</p><input type="text" id="state" size="50"></input>
				<p>Credit Card Number:</p><input type="text" id="name" size="50"></input>
				<p>Credit Card Type:</p>
				<input type="radio" name="vote" value="Visa">Visa</input>
				<input type="radio" name="vote" value="Discover">Discover</input>
				<input type="radio" name="vote" value="American Express">American Express</input>
				<input type="radio" name="vote" value="MasterCard">MasterCard</input>
				<p>Expiration Date:</p><input type="text" id="name" size="50"></input>
				<p>Security Code:</p><input type="text" id="name" size="50"></input>
				<input type="button" id="submit" value="Submit" size="50"></input>
			</form>
		</div>
	</body>
</html>
