<!--Received assistance from
http://www.w3schools.com/howto/howto_js_dropdown.asp-->
<!DOCTYPE html>
<html>
<head>
<script src="script.js" async></script><link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="signup-page">
<h4>Sign up today to enjoy great benefits from Textrade and start saving on textbooks!</h4>
<form method="post" action="createNewAccount.php">
<p>Name:</p><input type="text" id="name" size="50">
<p>Email Address:</p><input type="text" id="name" size="50">
<p>Username:</p><input type="text" id="name" size="50">
<p>Password:</p><input type="text" id="name" size="50">
<p>Address:</p><input type="text" id="address" size="50">
<p>City:</p><input type="text" id="city" size="50">
<p>State:</p><input type="text" id="state" size="50">
<p>Confirm Password:</p><input type="text" id="name" size="50">
<p>Credit Card Number:</p><input type="text" id="name" size="50">
<p>Credit Card Type:</p>
<input type="radio" name="vote" value="Visa">Visa
<input type="radio" name="vote" value="Discover">Discover
<input type="radio" name="vote" value="American Express">American Express
<input type="radio" name="vote" value="MasterCard">MasterCard
<p>Expiration Date:</p><input type="text" id="name" size="50">
<p>Security Code:</p><input type="text" id="name" size="50">
<input type="button" id="submit" value="Submit" size="50">
</form>
</div>
</body>
</html>
