<div class="home-page">
    <div id="textbook-overlay">
        <img src="../../img/textbooks.jpg">
    </div>

    <div class="page-details">
        <h1>Welcome to TextTrade!</h1>
        <div>
            <img src="../../img/large.jpg">
        </div>
        <div>
            <p>The secret overpriced bookstores don't want you to know...</p>
            <p>Never lug around heavy textbooks around campus again! With TextTrade, find affordable eTextbooks for all your courses, then trade them next semester for a new set of books at a low cost! </p>
        </div>
    </div>
</div>

